doctype html
html(lang='en')
    head
        include _include/head
    body
        header
        main
            article
                h3.logo Estray
                p.tagline Наши идеи проникают в сердце и разум
                hr
        footer
